@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
      overflow: hidden;
      display:none;
    }
  }
  
  
  
  

